@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --font-handkick: "Handkick", cursive;

     --color-one: #0F2854;
    --color-two: #1C4D8D;
    --color-three: #4988C4;
    --color-four: #BDE8F5;

    --color-red: #EE3E31;
    --color-yellow: #FEC75B;
    --color-blue: #014982;
    --color-blue-hover: #66C6EB;
}

@font-face {
  font-family: "Handkick";
  src: url("/app/assets/Handkick-Demo.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  /* @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.montserrat-regular{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-light{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-bold{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}
